.App {
  text-align: center;
  background: linear-gradient(to right, #868f96 0%, #596164 100%); 
  background-size: cover;
}

html {
  background: linear-gradient(to right, #868f96 0%, #596164 100%);;
  height: 100%;

}

.firstcol {
  text-align: left;
  padding-left: 80px;
}
.secondcol {
  text-align: right;
  padding-right: 100px;
}
.weather {
  border: solid rgb(193, 193, 194) 1px;
  border-radius: 12px;
  box-shadow: 0px 0px 2px 2px rgba(65, 64, 64, 0.5);
  margin: 10px 280px;
  padding-bottom: 20px;
}

.WeatherForecast {
    border: solid rgb(193, 193, 194) 1px;
    border-radius: 12px;
    box-shadow: 0px 0px 2px 2px rgba(65, 64, 64, 0.5);
    margin: 10px 280px;
    padding-bottom: 20px;
    padding-top: 15px;
    background-color: #929ba1;
}

.weather form {
  margin-bottom: 30px;
}

.search {
  width: 45%;
  margin: 10px;
  padding: 5px;
  border-radius: 7px;
  background-clip: padding-box;
  border: 2px solid #dce0e4;
}
.search:hover {
  border-color: #b5babe;
  transition: 150ms ease-in-out;
}

.humidityandwindandtime  {
  margin-bottom: 110px;
  color: white;
  opacity: 50%;
}

.weather canvas {
  margin-top: 80px;
  width: 80px;
  margin-right: 15px;
}

.description {
  font-size: 22px;
  color: white;
  opacity: 70%;
}

.temperature {
  font-size: 50px;
  color: white;
}
.celandfaren {
  font-size: 20px;
  color: white;
  text-decoration: none;
}
.convertitems{
  font-size: 25px;
  color: white;
  text-decoration: none;
}
.active:hover {
  color: yellow;
}

.cityname {
  font-size: 40px;
  color: white;
}

.raha {
  margin: 0;
}
.raha a {
  color: white;
  text-decoration: none;
}
.raha a:hover {
  opacity: 50%;
}

.loader {
  display: flex;
  justify-content: center;
  margin-top: 240px;
}

.ForecastDay {
  font-size: 17px;
  color: white;
}
.ForecastMax {
  color: white;
}
.ForecastMin {
  color: white;
  opacity: 50%;
  padding-left: 5px;
}

@media (Max-width: 1050px) {
  .weather {
    margin: 20px;
  }
  .WeatherForecast {
    margin: 20px;
  }
  .WeatherForecastDayOnebyOne {
    margin-bottom: 15px;
  }
  .firstcol {
    text-align: center;
    padding: 0;
  }
  .secondcol {
    text-align: center;
    padding: 0;
  }
  .humidityandwindandtime {
    margin-bottom: 40px;
  }
  .weather canvas {
    margin-top: 40px;

  }
}
