.App {
  text-align: center;
}

.weather {
  padding: 20px;
}

.weather form {
  margin-bottom: 30px;
}

.search {
  width: 35%;
  margin: 10px;
  padding: 5px;
  border-radius: 7px;
  background-clip: padding-box;
  border: 2px solid #dce0e4;
}
.search:hover {
  border-color: #b5babe;
  transition: 150ms ease-in-out;
}

.humidityandwind {
  margin-bottom: 150px;
  
}
